@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat_Alternates: var(--font-geist-montserrat_Alternates);
  --font-borel: var(--font-borel);
  --font-rajdhani: var(--font-rajdhani);
  --font-science: var(--font-science);
  --font-montserrat: var(--font-montserrat);
  --font-bruno: var(--font-bruno);
  --font-cinzel: var(--font-cinzel);
  --font-dongle: var(--font-dongle);
  --font-audiowide: var(--font-audiowide);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* fonts */

.autowide {
  font-family: var(--font-audiowide);
}

.poppins {
  font-family: var(--font-poppins);
}

.dm-serif {
  font-family: var(--font-dongle);
}

.hero-font {
  font-family: var(--font-rajdhani);
}

.hero-desc {
  font-family: var(--font-montserrat_Alternates);
}

.borel {
  font-family: var(--font-borel);
}

.cinzel {
  font-family: var(--font-cinzel);
}

.bruno {
  font-family: var(--font-bruno);
}

.science {
  font-family: var(--font-science);
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
