@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-borel: var(--font-borel);
  --font-rajdhani: var(--font-rajdhani);
  --font-bruno: var(--font-bruno);
  --font-dongle: var(--font-dongle);
  --font-audiowide: var(--font-audiowide);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
* {
  scroll-behavior: smooth;
}
.carousel-circular-3d__item {
  width: 220px !important; /* reduce width */
  height: 140px !important; /* reduce height */
}

.carousel-circular-3d__item img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.carousel-container {
  height: 500px !important;
}

/* fonts */

.autowide {
  font-family: var(--font-audiowide);
}

.poppins {
  font-family: var(--font-poppins);
}

.dm-serif {
  font-family: var(--font-dongle);
}

.hero-font {
  font-family: var(--font-rajdhani);
}

.borel {
  font-family: var(--font-borel);
}

.bruno {
  font-family: var(--font-bruno);
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
